<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.iotmit.mapper.UserMapper">


<insert id="insert">
	insert into user(no,id,pw,name,gender, email)	values( NULL , #{id}, #{pw}, #{name}, #{gender},#{email})
</insert>

<select id="read" resultType="org.iotmit.domain.UserVO">
select * from user where no = #{no}
</select>

<select id="count" resultType="long">
select count(*) from user
</select>

<select id="admin_scount" resultType="long">
select count(*) from user where writer = '관리자'
</select>

<select id="search_count" resultType="long">
select count(*) from user where id = #{id}
</select>

<select id="search_list" resultType="long">
<![CDATA[select * from user where no >= #{num1} and no <= #{num2} ]]> 
</select>

<delete id="delete">
delete from user where no=#{no}
</delete>

<update id="update">
update user 
 set id = #{id}, pw = #{pw}, name = #{name}, gender = #{gender}, email = #{email} WHERE no=#{no}
</update>

<select id="quiz" resultType="org.iotmit.domain.UserVO">
select title from user where mod(no,#{num})=0
</select>

<select id="getList" resultType="org.iotmit.domain.UserVO">
select * from user order by no desc
</select>

<select id="getListWithPaging" resultType="org.iotmit.domain.UserVO">
<![CDATA[select * FROM user order by no desc LIMIT #{amount} OFFSET #{pageNum}]]>
</select>

<select id="getListWithPagingTemp" resultType="org.iotmit.domain.UserVO">
<![CDATA[select * from (select rownum rn, user.* from user where rownum <= #{pageNum}*#{amount})
where rn > (#{pageNum}-1)*#{amount}]]>
</select>

<!-- <![CDATA[]>를 붙여야 부등호를 쿼리로 인식함/위에서 X개를 뽑아서 뒤에 Y개를 가져온다는 쿼리-->



</mapper>